<!DOCTYPE html>
<html lang="cs">

    <head>
        <title>
            <%= titulek %>
        </title>
        <meta charset="UTF-8" />
        <link rel="stylesheet" href="/css/style.css">
    </head>

    <body>
        <header>
            <a href="/uzivatele/prihlaseni">Přihlásit</a>
            <a href="/uzivatele/registrace">Registrace</a>
        </header>
    </body>
</html>