<%- include('../_layout/header') %>

<form method = "post" script = "/uzivatele/prihlaseni">
    <input type="text" name="jmeno" placeholder="Zadej jméno"><br>
    <input type="password" name="heslo" placeholder="Heslo">
    <input type="submit" value="Přihlásit">
</form>

<%- include('../_layout/footer') %>