<%- include('../_layout/header') %>


<h1>registrace</h1>

<form method = "post" script = "/uzivatele/registrace">
    <input type="text" name="jmeno" placeholder="Jméno">
    <input type="text" name="email" placeholder="Zadej email"><br>
    <input type="password" name="heslo" placeholder="Heslo">
    <input type="password" name="heslo2" placeholder="Zadejte znovu.">
    <input type="submit" value="Registrovat">
</form>
<h1><%=error%></h1>

<%- include('../_layout/footer') %>